<% include layout %>
<link rel="stylesheet" href="/stylesheets/index.css">
<body>
<div class="con">

    <div id="focus" class="focus ect-margin-tb">
        <div class="bd"></div>
    </div>

    <nav class="container-fluid">
        <ul class="row ect-row-nav">

            <li class="col-sm-3 col-xs-3" onClick="location.href='/category?cat=网球拍';"><i id="navPic_1"></i>
                <p class="text-center">全部分类</p>
            </li>

            <li class="col-sm-3 col-xs-3" onClick="location.href='/order';"><i id="navPic_2"></i>
                <p class="text-center">我的订单</p>
            </li>

            <li class="col-sm-3 col-xs-3" onClick="location.href='/user/me';"><i id="navPic_3"></i>
                <p class="text-center">个人中心</p>
            </li>

            <li class="col-sm-3 col-xs-3" onClick="location.href='/shopcart';"><i id="navPic_4"></i>
                <p class="text-center">购物车</p>
            </li>
        </ul>
    </nav>


    <div class="floor activity-floor">
        <h2 class="activity-floor-title tehui">热点专题</h2>
        <hr class="top_line">
        <ul class="activity-list">
            <li class="activity-item" style="width:100%">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/topic/bladeps/a.jpg" class="activity-img">
                </a>
            </li>
        </ul>
        <div class="activity-clear"></div>
    </div>

    <div class="floor activity-floor">

        <h2 class="activity-floor-title tehui">热门系列</h2>
        <hr class="top_line">
        <div style="overflow-y: auto;white-space: nowrap;-webkit-overflow-scrolling:touch;">
            <ul class="activity-list huadong" style="width: 8000px;">
                <li class="activity-item">
                    <div class="radical"></div>
                    <div class="neirong"><h4 class="price">Head<span class="miaosu">Radical</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="ezone"></div>
                    <div class="neirong"><h4 class="price">Yonex<span class="miaosu">EZone DR</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="aeropro"></div>
                    <div class="neirong"><h4 class="price">Babolat<span class="miaosu">AeroPro</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="prostaff"></div>
                    <div class="neirong"><h4 class="price">Wilson<span class="miaosu">Pro Staff</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="speed"></div>
                    <div class="neirong"><h4 class="price">Head<span class="miaosu">Speed</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="puredrive"></div>
                    <div class="neirong"><h4 class="price">Babolat<span class="miaosu">Pure Drive</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="blade"></div>
                    <div class="neirong"><h4 class="price">Wilson<span class="miaosu">Blade</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="instinct"></div>
                    <div class="neirong"><h4 class="price">Head<span class="miaosu">Instinct</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="vcore"></div>
                    <div class="neirong"><h4 class="price">Yonex<span class="miaosu">VCore</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="burn"></div>
                    <div class="neirong"><h4 class="price">Wilson<span class="miaosu">Burn</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="prestige"></div>
                    <div class="neirong"><h4 class="price">Head<span class="miaosu">Prestige</span></h4></div>
                </li>
                <li class="activity-item">
                    <div class="tour"></div>
                    <div class="neirong"><h4 class="price">Prince<span class="miaosu">Tour</span></h4></div>
                </li>

            </ul>
        </div>
        <div class="activity-clear"></div>
    </div>

    <div class="floor activity-floor">
        <h2 class="activity-floor-title tehui">手机专享</h2>
        <hr class="top_line">
        <ul class="activity-list">
            <li class="activity-item san">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/1338_120.jpg" class="activity-img">
                    <span class="price">780元</span>
                </a>
            </li>
            <li class="activity-item san">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/1456_120.jpg" class="activity-img">
                    <span class="price">1120元</span>
                </a>
            </li>
            <li class="activity-item san" style="border-right:none">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/1457_120.jpg" class="activity-img">
                    <span class="price">1088元</span>
                </a>
            </li>
        </ul>
        <div class="activity-clear"></div>
    </div>

    <div class="floor activity-floor">
        <h2 class="activity-floor-title tehui">单品热卖</h2>
        <hr class="top_line">
        <ul class="activity-list">
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/pureaero_735.jpg@311w" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/ad/pat_311.jpg" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/pd2015_311.jpg" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/2015blade98_311.jpg" class="activity-img">
                </a>
            </li>
        </ul>
        <div class="activity-clear"></div>
    </div>

    <div class="floor activity-floor">
            <h2 class="activity-floor-title tehui">特价促销</h2>
            <hr class="top_line">
        <ul class="activity-list">
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/2014apdfo_311.jpg" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/ps95year100_311.jpg" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/igl4pro_311.jpg" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/saleb7_311.jpg" class="activity-img">
                </a>
            </li>
        </ul>
         <div class="activity-clear"></div>
    </div>

    <div class="floor activity-floor" style="margin-bottom:40px">
            <h2 class="activity-floor-title tehui">新品推荐</h2>
            <hr class="top_line">
        <ul class="activity-list">
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/vcoref93_311.jpg" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/apd15fo_311.jpg" class="activity-img">
                </a>
            </li>
                                <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/radicalltd_311.jpg" class="activity-img">
                </a>
            </li>
            <li class="activity-item">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/mobile/burn100_311.jpg" class="activity-img">
                </a>
            </li>
        </ul>
         <div class="activity-clear"></div>
    </div>

    <div class="floor activity-floor">
        <h2 class="activity-floor-title tehui">包线专区</h2>
        <hr class="top_line">
        <ul class="activity-list">
            <li class="activity-item san">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/407_120.jpg" class="activity-img">
                    <span class="price">68元</span>
                </a>
            </li>
            <li class="activity-item san">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/1196_120.jpg" class="activity-img">
                    <span class="price">460元</span>
                </a>
            </li>
            <li class="activity-item san" style="border-right:none">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/428_120.jpg" class="activity-img">
                    <span class="price">75元</span>
                </a>
            </li>
        </ul>
        <div class="activity-clear"></div>
    </div>

    <div class="floor activity-floor">
        <h2 class="activity-floor-title tehui">鞋服专区</h2>
        <hr class="top_line">
        <ul class="activity-list">
            <li class="activity-item san">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/1531_120.jpg" class="activity-img">
                    <span class="price">348元</span>
                </a>
            </li>
            <li class="activity-item san">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/1534_120.jpg" class="activity-img">
                    <span class="price">498元</span>
                </a>
            </li>
            <li class="activity-item san" style="border-right:none">
                <a href="#" class="activity-link">
                    <img src="http://cdnimg.taimo.cn/product/747_120.jpg" class="activity-img">
                    <span class="price">698元</span>
                </a>
            </li>
        </ul>
        <div class="activity-clear"></div>
    </div>
</div>

</body>
