<% include layout %>
<link rel="stylesheet" href="/stylesheets/sign.css">
<link rel="stylesheet" href="/stylesheets/tishi.css">
<link rel="stylesheet" href="/stylesheets/dialog.css">
<body id="body">

<div class="jd_wrap">
    <div class="jd_form">
        <form action="/index.php?m=default&c=wechat&a=login" id="loginForm" method="post">
            <input type="hidden" id="openid" name="openid" value="oWIhat1omh_UyyS2Gi5F2afcSujM" />
            <input type="hidden" id="rurl2" name="rurl2" value="" />
            <span class="new-txt-err" id="loginNameError" style="display:none;color:red;font-size:15px;">账号不能为空</span>
            <span class="new-txt-err" id="passwordError" style="display:none;color:red;font-size:15px;">密码不能为空</span>
            <span class="new-txt-err" id="captchaError" style="display:none;color:red;font-size:15px;">验证码不能为空</span>
            <div class="labels">
                <label class="label">
                    <span>账号：</span>
                    <input type="text" name="loginName" id="loginName" value=""  placeholder="手机号" />
                </label>
                <label class="label">
                    <span>密码：</span>
                    <input type="password" name="password" id="password" value="" placeholder="请填写密码" />
                </label>
            </div>
            <button type="button" class="btn"  onclick="javascript:subLoginForm();">登录</button>
            <p class="links">
                <a href="/user/reg" class="color_green" id="register">注册新账号</a>
            </p>
        </form>
    </div>
</div>
<script src="/javascripts/dialog.js"></script>
<script src="/javascripts/login.js"></script>
</body>