<% include layout %>
<link rel="stylesheet" href="/stylesheets/sign.css">
<link rel="stylesheet" href="/stylesheets/tishi.css">
<link rel="stylesheet" href="/stylesheets/dialog.css">

<body id="body">

<div class="jd_wrap">
    <!-- S 表单 -->
    <div class="jd_form">
        <form action="/user/reg" method="post" id="registerForm">
            <ul>
                <li><p id="mobileError" style="display:none;color:red;font-size:15px;"></p></li>
                <li><p id="passwordError" style="display:none;color:red;font-size:15px;"></p></li>
                <li><p id="smsCodeError" style="display:none;color:red;font-size:15px;"></p></li>
            </ul>
            <div class="labels">
                <label class="label">
                    <span>手机：</span>
                    <input type="tel" placeholder="请输入手机号码" id="mobile" name="mobile" maxlength="11" value="" valname="手机号码">
                </label>
                <label class="label">
                    <span>密码：</span>
                    <input type="password" placeholder="请设置登录密码" id="password" name="password" value="" valname="密码">
                </label>
            </div>

            <div class="code">
                <input type="text" id="mobile_code" name="mobile_code" placeholder="请输入短信验证码" valname="短信验证码">
                <a href="javascript:void(0);" id="sub_btn" class="code_btn" onclick="sendSmsCode()">获取验证码</a>
                <span id="second" class="code_btn" style="display:none;"></span>
            </div>
            <button class="btn" type="button" value="注册" id="submitForm">确认</button>

        </form>
    </div>

</div>
<script src="/javascripts/dialog.js"></script>
<script src="/javascripts/register.js"></script>
</body>
