<% include layout %>
<link rel="stylesheet" href="/stylesheets/tishi.css">
<link rel="stylesheet" href="/stylesheets/shopcart.css">
<body>
<div id="content" style="width:100%;">
    <div class="wx_wrap" id="wrapper">
        <div id="editContent" class="address_bar_wrap fixed">
            <div class="address_bar">
                <span class="btn" id="editBtn">编辑</span>
            </div>
        </div>
        <div id="listContent" style="position: absolute; width: 100%; top: -35px; transform: translateY(0px);">
            <div id="list">
                <div class="cart_refresh" id="pullDown">
                    <div class="icon"><i id="pullDownIC" class=""></i></div>
                    <p id="pullDownLabel">下拉刷新购物车</p>
                </div>
                <div class="section"></div>
            </div>
        </div>
        <div id="emptyContent">
            <div class="shopcart_none" id="normalEmpty" style="display:block;position:relative;padding-top:1px">
                <i class="icon"></i>
                <p class="title">您的购物车内还没有商品！</p>
                <div class="mod_btns">
                    <a href="/users/me" class="mod_btn">个人中心</a>
                    <a href="/shop/goods/promotion.do" class="mod_btn" id="rego">立即逛逛</a>
                </div>
            </div>
        </div>
    </div>
    <div id="mainViewFoot">
        <div class="fixBar" name="checkgroup" id="checkAllBtn">
            <i class="icon_select" id="chooseAll">全选</i>
            <div class="total" id="totalConfirmDiv">
                <p>总计：<strong>¥<span id="totalPrice">0.0</span></strong><small>(不含运费)</small></p>
                <a href="javascript:;" class="btn_pay" id="shopCartConfirm">结算（<em id="totalNum">0</em>）</a>
            </div>
            <div class="btns" style="display:none" id="operateDiv">
                <a href="javascript:;" class="btn_2" id="addFavor">移至收藏</a>
                <a href="javascript:;" class="btn_3" id="deleteBtn">删除</a>
            </div>
        </div>

    </div>

    <!-- ajax loading -->
    <!--<div class="mod_alert mod_alert_loading fixed" id="wxloading">
        <div class="wx_loading2">
            <i class="wx_loading_icon"></i>
        </div>
    </div>-->
    <!-- ajax loading end-->

    <div id="dialogConent" class="mod_alert fixed">
        <i class="icon"></i>
        <p> 是否确认将已选中商品删除？</p><p class="btns">
            <a href="javascript:;" class="btn btn_1" id="confirm">确认</a>
            <a href="javascript:;" class="btn" id="cancel">取消</a>
        </p>
    </div>
    <div id="dialogConent2" class="mod_alert fixed">
        <i class="icon"></i>
        <p> 是否确认将已选中商品移至收藏？</p><p class="btns">
            <a href="javascript:;" class="btn btn_1" id="confirm2">确认</a>
            <a href="javascript:;" class="btn" id="cancel2">取消</a>
        </p>
    </div>
</div>
<div class="mask"></div>
</div>
<script src="/javascripts/shopcart.js"></script>
<script src="/javascripts/quickMenu.js"></script>
</body>