@charset "UTF-8";

* {
    -webkit-tap-highlight-color: transparent;
    outline: 0
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

img {
    border: 0 none;
    vertical-align: top
}

i,em {
    font-style: normal
}

ol,ul {
    list-style: none
}

input,select,button,h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-family: inherit
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a,a:visited {
    text-decoration: none;
    color: #333
}

body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
    background: #fff;
    font-size: 14px;
    font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
    line-height: 1.5;
    color: #666;
    -webkit-text-size-adjust: 100% !important
}

.mod_alert .btns,.mod_follow {
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex
}

.mod_alert .btns .btn,.mod_follow .follow {
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1
}

.mod_follow .follow .btn_qr {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a.mod_blockTips:after {
    content: '\20';
    display: block
}

a.mod_blockTips:after {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top: 1px solid #7d7d7d;
    border-left: 1px solid #7d7d7d;
    background: none
}

a.mod_blockTips:after {
    margin-top: -6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg)
}

.mod_btns .mod_btn {
    background: #F3F3F3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn:active {
    background: #e6e6e6
}

.mod_btns .mod_btn.bg_1,.mod_blockTips .btn {
    background: #e4393c;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_1:active,.mod_blockTips .btn:active {
    background: #e12326
}

.mod_btns .mod_btn.bg_2,.mod_btns .mod_btn.mod_btn_bg1 {
    background: #3884ff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_2:active,.mod_btns .mod_btn.mod_btn_bg1:active {
    background: #1f74ff
}

.mod_btns .mod_btn.bg_3,.mod_btns .mod_btn.mod_btn_bg {
    background: #f19325;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_3:active,.mod_btns .mod_btn.mod_btn_bg:active {
    background: #ed870f
}

.mod_btns .mod_btn.bg_4 {
    background: #fff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_4:active {
    background: #f2f2f2
}

.mod_btns .mod_btn.bg_5 {
    background: #67ad03;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_5:active {
    background: #589403
}

.mod_btns .mod_btn.bg_6 {
    background: #1bc6c3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_6:active {
    background: #18b0ad
}

.mod_btns .mod_btn.bg_7 {
    background: #666;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_7:active {
    background: #595959
}

.mod_btns .mod_btn.bg_8 {
    background: #32b8ea;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_8:active {
    background: #1bb0e8
}

.mod_btns .mod_btn.bg_9 {
    background: #18c461;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_9:active {
    background: #15ad56
}

.mod_btns .mod_btn.disabled {
    cursor: default;
    color: #999;
    background: #d7d7d7;
    border: 1px solid transparent
}

.mod_btns .mod_btn.disabled span {
    margin-left: 5px;
    color: #e4393c
}

.mod_btns .mod_btn.disabled:active {
    background: #d7d7d7
}

.mod_btns .mod_btn,.mod_btns .mod_btn.bg_4 {
    border-color: #ddd;
    color: #333
}

.mod_btns {
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    overflow: hidden;
    margin: 15px 5px
}

.mod_btns .mod_btn {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 5px;
    display: block;
    width: 100px;
    height: 44px;
    line-height: 42px;
    padding: 0 15px;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px
}

.mod_alert .btns,.mod_follow {
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex
}

.mod_alert .btns .btn,.mod_follow .follow {
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1
}

.mod_follow .follow .btn_qr {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a.mod_blockTips:after {
    content: '\20';
    display: block
}

a.mod_blockTips:after {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top: 1px solid #7d7d7d;
    border-left: 1px solid #7d7d7d;
    background: none
}

a.mod_blockTips:after {
    margin-top: -6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg)
}

.mod_btns .mod_btn {
    background: #F3F3F3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn:active {
    background: #e6e6e6
}

.mod_btns .mod_btn.bg_1,.mod_blockTips .btn {
    background: #e4393c;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_1:active,.mod_blockTips .btn:active {
    background: #e12326
}

.mod_btns .mod_btn.bg_2,.mod_btns .mod_btn.mod_btn_bg1 {
    background: #3884ff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_2:active,.mod_btns .mod_btn.mod_btn_bg1:active {
    background: #1f74ff
}

.mod_btns .mod_btn.bg_3,.mod_btns .mod_btn.mod_btn_bg {
    background: #f19325;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_3:active,.mod_btns .mod_btn.mod_btn_bg:active {
    background: #ed870f
}

.mod_btns .mod_btn.bg_4 {
    background: #fff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_4:active {
    background: #f2f2f2
}

.mod_btns .mod_btn.bg_5 {
    background: #67ad03;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_5:active {
    background: #589403
}

.mod_btns .mod_btn.bg_6 {
    background: #1bc6c3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_6:active {
    background: #18b0ad
}

.mod_btns .mod_btn.bg_7 {
    background: #666;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_7:active {
    background: #595959
}

.mod_btns .mod_btn.bg_8 {
    background: #32b8ea;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_8:active {
    background: #1bb0e8
}

.mod_btns .mod_btn.bg_9 {
    background: #18c461;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_9:active {
    background: #15ad56
}

.mod_btns .mod_btn.disabled {
    cursor: default;
    color: #999;
    background: #d7d7d7;
    border: 1px solid transparent
}

.mod_btns .mod_btn.disabled span {
    margin-left: 5px;
    color: #e4393c
}

.mod_btns .mod_btn.disabled:active {
    background: #d7d7d7
}

.mod_btns .mod_btn,.mod_btns .mod_btn.bg_4 {
    border-color: #ddd;
    color: #333
}

.mod_alert {
    position: relative;
    width: 240px;
    margin: 20px auto 0;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center
}

.mod_alert .icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(/fd/base/img/base/mod_alert.png);
    background-size: 50px 200px
}

.mod_alert .icon_fail {
    background-position: 0 -50px
}

.mod_alert .icon_wait {
    background-position: 0 -100px
}

.mod_alert .icon_success {
    background-position: 0 -150px
}

.mod_alert .close {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.mod_alert .close:after {
    content: '\20';
    display: block;
    width: 15px;
    height: 15px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAAElBMVEX////w8PBkZGRFRUVsbGzNzc3/KSaqAAAAPklEQVQI12MIEWBgYGB0ZXBWBNJCJgxCRgIMjMqKIAxmAwlBIJMBKKAE4gIFjIFcKA0Xh6mD6YOZAzMXZg8Axk0IG3RoOjEAAAAASUVORK5CYII=) no-repeat center;background-size: 7px 7px;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.mod_alert p {
    font-size: 14px;
    margin: 10px 0;
    padding: 0 15px
}

.mod_alert p.small {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7)
}

.mod_alert p.alignLeft {
    text-align: left
}

.mod_alert hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    margin: 0 15px
}

.mod_alert .btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #f3f3f3;
    color: #333;
    font-size: 14px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.mod_alert .btn.disabled {
    background: #666;
    color: #fff
}

.mod_alert .btn_1 {
    background: #3985ff;
    color: #fff
}

.mod_alert .disabled span {
    margin-left: 5px;
    color: red
}

.mod_alert.fixed {
    display: none;
    z-index: 899;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.mod_alert .btns {
    margin: 15px 0 0;
    padding: 0 10px
}

.mod_alert .btns .btn {
    text-align: center;
    margin: 0 5px
}

.mod_alert_loading {
    background: none
}

.mod_alert_large {
    width: 290px
}

.mod_alert_mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 898
}

.mod_alert.show,.mod_alert_mask.show {
    display: block
}

.wx_loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 90;
    background-color: transparent
}

.wx_loading_inner {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -70px;
    margin-top: -48px;
    width: 140px;
    border-radius: 6px;
    font-size: 14px;
    padding: 58px 0 10px 0
}

.wx_loading_icon {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -16px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 24px;
    -webkit-animation: gif 1s infinite linear;
    animation: gif 1s infinite linear;
    clip: rect(0 auto 12px 0)
}

@keyframes gif {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes gif {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.wx_loading2 {
    text-align: center;
    padding: 5px;
    height: 32px;
    position: relative
}

.wx_loading2 img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto
}

.wx_loading2 .wx_loading_icon {
    border-color: #237FE5;
    top: 7px
}

.wx_loader {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -60px;
    height: 60px;
    line-height: 60px;
    width: 120px
}

.wx_wrap {
    min-height: 375px
}

@media only screen and (max-height: 480px) {
    .wx_wrap {
        min-height: 360px
    }
}

.wx_footer {
    margin: 50px 0
}

.wx_footer .jd_logo {
    padding: 10px 0;
    display: block
}

.wx_footer .jd_logo:active {
    background-color: rgba(0, 0, 0, 0.1)
}

.wx_footer .jd_logo:after {
    content: '\20';
    display: block;
    height: 36px;
    width: 250px;
    margin: 0 auto;
    background: url(/fd/base/img/base/y_logo.png);
    background-size: cover;
    -webkit-background-size: cover
}

.wx_footer .userinfo,.wx_footer .copyright {
    display: none
}

.qq_footer {
    margin: 45px 0 60px !important
}

.qq_footer .jd_logo {
    height: 15px;
    width: 86px;
    margin: 15px auto 0 auto;
    background: url(/fd/base/img/base/y_logo.png);
    background-size: cover;
    -webkit-background-size: cover
}

.qq_footer .qq_info {
    font-size: 12px;
    text-align: center;
    color: #666
}

.mod_alert .btns,.mod_follow {
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex
}

.mod_alert .btns .btn,.mod_follow .follow {
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1
}

.mod_follow .follow .btn_qr {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a.mod_blockTips:after {
    content: '\20';
    display: block
}

a.mod_blockTips:after {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top: 1px solid #7d7d7d;
    border-left: 1px solid #7d7d7d;
    background: none
}

a.mod_blockTips:after {
    margin-top: -6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg)
}

.mod_btns .mod_btn {
    background: #F3F3F3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn:active {
    background: #e6e6e6
}

.mod_btns .mod_btn.bg_1,.mod_blockTips .btn {
    background: #e4393c;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_1:active,.mod_blockTips .btn:active {
    background: #e12326
}

.mod_btns .mod_btn.bg_2,.mod_btns .mod_btn.mod_btn_bg1 {
    background: #3884ff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_2:active,.mod_btns .mod_btn.mod_btn_bg1:active {
    background: #1f74ff
}

.mod_btns .mod_btn.bg_3,.mod_btns .mod_btn.mod_btn_bg {
    background: #f19325;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_3:active,.mod_btns .mod_btn.mod_btn_bg:active {
    background: #ed870f
}

.mod_btns .mod_btn.bg_4 {
    background: #fff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_4:active {
    background: #f2f2f2
}

.mod_btns .mod_btn.bg_5 {
    background: #67ad03;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_5:active {
    background: #589403
}

.mod_btns .mod_btn.bg_6 {
    background: #1bc6c3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_6:active {
    background: #18b0ad
}

.mod_btns .mod_btn.bg_7 {
    background: #666;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_7:active {
    background: #595959
}

.mod_btns .mod_btn.bg_8 {
    background: #32b8ea;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_8:active {
    background: #1bb0e8
}

.mod_btns .mod_btn.bg_9 {
    background: #18c461;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_9:active {
    background: #15ad56
}

.mod_btns .mod_btn.disabled {
    cursor: default;
    color: #999;
    background: #d7d7d7;
    border: 1px solid transparent
}

.mod_btns .mod_btn.disabled span {
    margin-left: 5px;
    color: #e4393c
}

.mod_btns .mod_btn.disabled:active {
    background: #d7d7d7
}

.mod_btns .mod_btn,.mod_btns .mod_btn.bg_4 {
    border-color: #ddd;
    color: #333
}

.mod_areaselect li:after {
    content: '';
    height: 0px;
    display: block;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.mod_blockTips:before,.mod_follow:after {
    content: '';
    display: block;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 120dpi),(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 50% 100%
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        bottom: -100%;
        right: -100%
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.333)
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.333);
        -webkit-transform-origin: 0% 0%;
        bottom: -200%;
        right: -200%
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.666)
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.666);
        bottom: -50%;
        right: -50%
    }
}

.wx_ending {
    text-align: center;
    padding: 10px;
    line-height: 18px
}

.wx_ending strong {
    color: #FF8C00
}

.mod_blockTips {
    background: #fffad0 url(/fd/app/img/base/icon_tips.png) no-repeat 10px 10px;
    background-size: 20px 20px;
    font-size: 10px;
    color: #666;
    position: relative;
    padding: 12px 10px 12px 35px
}

.mod_blockTips:before {
    border-color: #ddd
}

.mod_blockTips .link,.mod_blockTips em {
    color: #3985ff
}

.mod_blockTips .right {
    float: right
}

.mod_blockTips .btn {
    display: block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

a.mod_blockTips {
    display: block;
    padding-right: 30px
}

a.mod_blockTips:after {
    content: '\20';
    display: block;
    right: 15px;
    width: 10px;
    height: 10px
}

.WX_backtop {
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999em;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    display: none
}

.WX_backtop:after {
    width: 23px;
    height: 23px;
    content: '\20';
    display: block;
    margin: 9px 0 0 9px;
    float: left;
    background-image: url(http://static.paipaiimg.com/wx/img/mall/icon_nav_v2.png?v3);
    background-repeat: no-repeat;
    background-size: 207px 46px;
    background-position: -115px 0
}

.wx_bar_back a:after,.wx_backtop:after,.wx_bar_new:after,.wx_bar_best:before {
    background-image: url(http://static.paipaiimg.com/wx/img/common/sprites_v3.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    -webkit-background-size: 100px 100px;
    content: '\20';
    display: block
}

.wx_bar {
    position: relative;
    width: 100%;
    min-height: 44px;
    line-height: 44px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #DDD
}

.wx_bar_fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30
}

.wx_bar_tit {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #333
}

.wx_bar_back {
    width: 50px;
    height: 45px;
    position: absolute
}

.wx_bar_back a {
    overflow: hidden;
    display: block;
    height: 100%
}

.wx_bar_back a:after {
    display: block;
    margin: 10px 0 0 10px;
    height: 25px;
    width: 25px;
    background-position: 0 0
}

.wx_bar_back a:active {
    background-color: rgba(0, 0, 0, 0.2)
}

.wx_bar_act {
    height: 45px;
    position: absolute;
    right: 0;
    top: 0
}

.wx_bar_new {
    overflow: hidden;
    display: block;
    height: 100%;
    width: 60px
}

.wx_bar_new:after {
    display: block;
    height: 25px;
    width: 25px;
    background-position: -25px 0;
    margin: 10px 15px 0 0;
    float: right
}

.wx_bar_new:active {
    background-color: rgba(0, 0, 0, 0.2)
}

.mod_dlbar {
    position: relative
}

.mod_dlbar.fixed {
    z-index: 102;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}

.mod_dlbar.download .mod_dlbar_inner:after {
    background-position: 0 100%
}

.mod_dlbar_inner {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 18.75%;
    height: 0
}

.mod_dlbar_inner img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: auto
}

.mod_dlbar_inner:after,.mod_dlbar_inner span:after {
    background: url(/fd/base/img/base/icon_dlbar.png) no-repeat 0 0;
    background-size: 86px 40px
}

.mod_dlbar_inner:after {
    position: absolute;
    right: 10px;
    top: 50%;
    content: '\20';
    display: block;
    width: 66px;
    height: 20px;
    margin-top: -10px
}

.mod_dlbar_inner span {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 20%;
    height: 100%
}

.mod_dlbar_inner span:after {
    position: absolute;
    left: 10px;
    top: 50%;
    content: '\20';
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-position: 100% 0
}

@media only screen and (min-width: 375px) {
    .mod_dlbar_inner:after,.mod_dlbar_inner span:after {
        background-size: 104px 48px;
        margin-top: -12px;
        height: 24px
    }

    .mod_dlbar_inner:after {
        width: 80px;
        right: 12px
    }

    .mod_dlbar_inner span:after {
        width: 24px;
        left: 12px
    }
}

@media only screen and (min-width: 414px) {
    .mod_dlbar_inner:after,.mod_dlbar_inner span:after {
        background-size: 112px 52px;
        margin-top: -13px;
        height: 26px
    }

    .mod_dlbar_inner:after {
        width: 86px;
        right: 13px
    }

    .mod_dlbar_inner span:after {
        width: 26px;
        left: 13px
    }
}

.mod_alert .btns,.mod_follow {
    display: box;
    display: -ms-box;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex
}

.mod_alert .btns .btn,.mod_follow .follow {
    display: block;
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    box-flex: 1;
    -ms-box-flex: 1;
    -webkit-box-flex: 1
}

.mod_follow .follow .btn_qr {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a.mod_blockTips:after {
    content: '\20';
    display: block
}

a.mod_blockTips:after {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    border-top: 1px solid #7d7d7d;
    border-left: 1px solid #7d7d7d;
    background: none
}

a.mod_blockTips:after {
    margin-top: -6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg)
}

.mod_btns .mod_btn {
    background: #F3F3F3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn:active {
    background: #e6e6e6
}

.mod_btns .mod_btn.bg_1,.mod_blockTips .btn {
    background: #e4393c;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_1:active,.mod_blockTips .btn:active {
    background: #e12326
}

.mod_btns .mod_btn.bg_2,.mod_btns .mod_btn.mod_btn_bg1 {
    background: #3884ff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_2:active,.mod_btns .mod_btn.mod_btn_bg1:active {
    background: #1f74ff
}

.mod_btns .mod_btn.bg_3,.mod_btns .mod_btn.mod_btn_bg {
    background: #f19325;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_3:active,.mod_btns .mod_btn.mod_btn_bg:active {
    background: #ed870f
}

.mod_btns .mod_btn.bg_4 {
    background: #fff;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_4:active {
    background: #f2f2f2
}

.mod_btns .mod_btn.bg_5 {
    background: #67ad03;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_5:active {
    background: #589403
}

.mod_btns .mod_btn.bg_6 {
    background: #1bc6c3;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_6:active {
    background: #18b0ad
}

.mod_btns .mod_btn.bg_7 {
    background: #666;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_7:active {
    background: #595959
}

.mod_btns .mod_btn.bg_8 {
    background: #32b8ea;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_8:active {
    background: #1bb0e8
}

.mod_btns .mod_btn.bg_9 {
    background: #18c461;
    color: #fff;
    border: 1px solid transparent
}

.mod_btns .mod_btn.bg_9:active {
    background: #15ad56
}

.mod_btns .mod_btn.disabled {
    cursor: default;
    color: #999;
    background: #d7d7d7;
    border: 1px solid transparent
}

.mod_btns .mod_btn.disabled span {
    margin-left: 5px;
    color: #e4393c
}

.mod_btns .mod_btn.disabled:active {
    background: #d7d7d7
}

.mod_btns .mod_btn,.mod_btns .mod_btn.bg_4 {
    border-color: #ddd;
    color: #333
}

.mod_areaselect li:after {
    content: '';
    height: 0px;
    display: block;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.mod_blockTips:before,.mod_follow:after {
    content: '';
    display: block;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 120dpi),(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 50% 100%
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        bottom: -100%;
        right: -100%
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.333)
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.333);
        -webkit-transform-origin: 0% 0%;
        bottom: -200%;
        right: -200%
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.666)
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.666);
        bottom: -50%;
        right: -50%
    }
}

.mod_follow:before,.mod_follow .follow .btn_qr:before {
    background: transparent url(/fd/base/img/base/icon_follow.png) no-repeat;
    background-size: 61px auto
}

.mod_follow {
    margin: 15px 10px;
    position: relative;
    padding: 15px 10px 15px 60px;
    height: 45px;
    background-color: #fff
}

.mod_follow:after {
    border-color: #cbcbcb
}

.mod_follow:before {
    position: absolute;
    left: 10px;
    content: '';
    width: 40px;
    height: 40px;
    background-position: 0 0
}

.mod_follow small {
    display: block;
    margin-top: 7.5px;
    color: #999;
    line-height: 1;
    font-size: 10px
}

.mod_follow .name {
    width: 70px;
    font-size: 10px;
    color: #333;
    padding: 6px 0
}

.mod_follow .follow {
    text-align: center
}

.mod_follow .follow .btn_qr {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #e4393c;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.mod_follow .follow .btn_qr:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: -2px 10px 0 0;
    width: 20px;
    height: 20px;
    background-position: -41px 0
}

.mod_follow .follow .btn_qr:active {
    background-color: #e12326
}

.mod_follow .follow .btn_qr.none_qr:before {
    display: none
}

.mod_qr_layer {
    display: none;
    z-index: 899;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.mod_qr_layer.show {
    display: block
}

.mod_qr_layer .inner {
    width: 240px;
    margin: 20px auto 0;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.mod_qr_layer .close {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.mod_qr_layer .close:after {
    content: '\20';
    display: block;
    width: 15px;
    height: 15px;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOBAMAAADtZjDiAAAAElBMVEX////w8PBkZGRFRUVsbGzNzc3/KSaqAAAAPklEQVQI12MIEWBgYGB0ZXBWBNJCJgxCRgIMjMqKIAxmAwlBIJMBKKAE4gIFjIFcKA0Xh6mD6YOZAzMXZg8Axk0IG3RoOjEAAAAASUVORK5CYII=) no-repeat center;background-size: 7px 7px;
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.mod_qr_layer p {
    font-size: 14px;
    margin: 8px 0;
    padding: 0 10px
}

.mod_qr_layer .qr {
    background: #fff;
    width: 130px;
    margin: 0 auto
}

.mod_qr_layer .qr img {
    display: block;
    width: 100%
}

.mod_qr_layer .qr span {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    background: #e4393c
}

.mod_areaselect li:after {
    content: '';
    height: 0px;
    display: block;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.mod_blockTips:before,.mod_follow:after {
    content: '';
    display: block;
    border: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 120dpi),(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 50% 100%
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.5);
        -webkit-transform-origin: 0% 0%;
        bottom: -100%;
        right: -100%
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.333)
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.333);
        -webkit-transform-origin: 0% 0%;
        bottom: -200%;
        right: -200%
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    .mod_areaselect li:after {
        -webkit-transform: scaleY(0.666)
    }

    .mod_blockTips:before,.mod_follow:after {
        -webkit-transform: scale(0.666);
        bottom: -50%;
        right: -50%
    }
}

.mod_areaselect {
    background: #fff
}

.mod_areaselect li {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #666;
    padding: 0 10px;
    position: relative
}

.mod_areaselect li:after {
    border-color: #ddd
}

.mod_areaselect li.selected {
    background: #f2f2f2;
    color: #333
}

.mod_areaselect li:first-child.selected {
    background: #ccc
}

@charset "UTF-8";

.hd_bar .hd_search_txt {
    border: none;
    background: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

.hd_bar:after {
    content: '';
    height: 0px;
    display: block;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 120dpi),(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .hd_bar:after {
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 50% 100%
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .hd_bar:after {
        -webkit-transform: scaleY(0.333)
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    .hd_bar:after {
        -webkit-transform: scaleY(0.666)
    }
}

.hide {
    display: none !important
}

.hd_bar + .wx_wrap,.WX_bar + .wx_wrap {
    padding-top: 45px
}

.hd_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7.5px 0;
    background: #efefef;
    z-index: 80
}

.hd_bar.fixed {
    position: fixed
}

.hd_bar .hd_search_frm {
    position: relative;
    margin: 0 10px;
    padding: 0 30px 0 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff
}

.hd_bar .hd_search_frm.hd_search_frm_focus {
    margin-right: 50px
}

.hd_bar .hd_search_frm.hd_search_frm_focus + .hd_me {
    display: block
}

.hd_bar .hd_me {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    padding: 7.5px 5px
}

.hd_bar .hd_search_txt {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background: transparent url(../images/search.png) no-repeat 7.5px center;background-size: 15px auto
}

.hd_bar .hd_search_txt::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.hd_bar .hd_search_txt::-webkit-input-placeholder {
    color: #ccc
}

.hd_bar .hd_search_clear {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 0
}

.hd_bar .hd_search_clear:after {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
    content: '';
    background: transparent url(/fd/base/img/base/icon_bar.png) no-repeat;
    background-size: 220px 132px;
    background-position: -180px -16px
}

.hd_bar .hd_search_btn {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #007aff;
    font-size: 16px;
    text-align: center
}

.hd_bar .hd_search_btn_blue {
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: #007aff;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

@charset "UTF-8";

.words_10 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.sf_layer .sf_layer_con {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.mod_list .list_inner:after,.mod_list .list_extra:after {
    clear: both;
    content: '\20';
    display: block
}

.mod_alert.fixed {
    z-index: 911
}

.words_10 {
    display: inline-block;
    max-width: 110px;
    vertical-align: middle;
    text-align: right
}

.sf_layer_bg {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility, 0.5s;
    -moz-transition: opacity 0.5s, visibility, 0.5s;
    transition: opacity 0.5s, visibility, 0.5s;
    z-index: 909
}

.sf_layer_bg.show {
    opacity: 1;
    visibility: visible
}

.sf_layer {
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    transition: transform 0.25s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    position: fixed;
    width: 85%;
    top: 0;
    bottom: 0;
    left: 100%;
    height: 100%;
    background-color: #F2F2F2
}

.sf_layer.show {
    z-index: 910;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.sf_layer .sf_layer_title {
    height: 44px;
    line-height: 46px;
    background-color: white;
    border-bottom: 1px solid #DDD;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 10px
}

.sf_layer .sf_layer_title .left {
    float: left
}

.sf_layer .sf_layer_title .right {
    float: right
}

.sf_layer .sf_layer_title .tit {
    position: absolute;
    left: 70px;
    right: 70px;
    top: 0;
    height: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #333
}

.sf_layer .sf_layer_con {
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1;
    right: 0;
    bottom: 0;
    overflow-y: auto
}

.sf_layer .sf_layer_con.with_sub_title {
    top: 76px
}

.sf_layer .sf_layer_sub_title {
    position: absolute;
    z-index: 10;
    top: 45px;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #ddd;
    background-color: white;
    padding: 0 10px
}

.sf_btn_gray {
    -webkit-appearance: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    border: solid 1px #ddd;
    background-color: white;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    color: #666
}

.sf_btn_primary,.btn_primary {
    -webkit-appearance: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    border: solid 1px #3985FF;
    background-color: #3985FF;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    color: white;
    vertical-align: middle
}

.sf_price_input {
    border: solid 1px #ddd;
    line-height: 24px;
    padding: 1px 5px;
    width: 50px;
    vertical-align: middle
}

.mod_list li.check_li:after {
    display: block;
    content: "\020";
    position: absolute;
    top: 12px;
    right: 7px;
    width: 13px;
    height: 13px;
    border: solid 1px #666;
    border-radius: 50%;
    -webkit-border-radius: 50%
}

.mod_list li.check_li.checked:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAABC0lEQVQoU2NkoBJgpMSc////2wD16wPxEbINAhqiBzRgPRDLAHERWQYBDTEBaj4KxKxAfB+I40k2CGiIJVDjIiBWAeJfQGzKyMh4iSSDoGGyFqhZBIjvAXEk0JAzoHBmhEraggOMkfEwrsCHqlsJlJcC4ldAHABUfxymHmRQJZDTAMSPgDgOWRKmCMk7SkCxF0AcDlR3BNlSkEEg18yD+vkTkPZANgxqyE6gOC8Q3wHiJGwuB4cRVPEOqOLrQDoFZBhUfA6QrwnEX4DYHZuLwWGE5nxkTcVAuR50w3GFIUqsoXnjG1ATFxBjeBebYRjRjxSwikANoMSGNQLQDcOajqARAIqEw/iSBLJhABRHYty2g4kAAAAAAElFTkSuQmCC);background-size: 9px 7px;
    background-position: center center;
    background-repeat: no-repeat;
    border-color: #00C55A;
    background-color: #00C55A
}

.mod_list li.arrow_li,.mod_list li.super_li {
    padding-right: 26px
}

.mod_list li.arrow_li:after,.mod_list li.super_li:after {
    display: block;
    content: "\020";
    width: 8px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAgCAYAAAAffCjxAAAAyElEQVRIS8XWywkDIRAG4Ix2kEIW0kNIDzkrNpMaLCQQyDHHdJIOhIwLEZZV56GQAfEBfgjCz8ABy3u/GGNuKaVrjPGTz6QF+UII4Y7TBccbsbMGWyHn3NFa+8DlSYut0AysQKPYBhrBdpAWq0IarAlJsS4kwUiIi7EgDsaGKEwE9TAx1MJU0A/D6HkCwIL713+hWuyIX9TKLhHUC0A2RKUoC6KQ/IskxEFIiIt0IQnShKRIFdIgO0iLbKARpECjSIGmNREz2povcfoMlrXg1R0AAAAASUVORK5CYII=);background-size: 8px 13px;
    position: absolute;
    top: 14px;
    right: 10px
}

.mod_list li.super_li:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.mod_list li.super_li.opened:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.mod_list li.super_li .sub_list {
    margin-right: -26px
}

.mod_list .sub_list {
    padding-top: 30px;
    margin-right: -10px;
    margin-bottom: -10px
}

.mod_list .sub_list li {
    border-width: 0 0 1px
}

.mod_list .sub_list li.active {
    padding-left: 20px;
    padding-top: 11px;
    margin-top: -1px;
    margin-left: -10px
}

.sf_layer .mod_list li .big {
    height: 20px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis
}

.sf_layer .words_10 {
    margin-top: -4px
}

.s_back_btn {
    -webkit-appearance: none;
    border: 0 none;
    display: inline-block;
    background-color: white;
    height: 28px;
    line-height: 28px;
    width: 25px;
    background-position: 0 0;
    background-image: url(/fd/base/img/search/sprites_v3.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    -webkit-background-size: 100px 100px
}

.s_btn {
    color: #666;
    background-color: #fff;
    height: 42px;
    margin: 10px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: block
}

.s_btn.disabled {
    background-color: #eee;
    color: #999
}

.price_input {
    border: solid 1px #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 20px;
    line-height: 20px;
    width: 65px;
    padding: 5px;
    -webkit-appearance: none
}

.price_btn {
    height: 32px;
    padding: 0 20px;
    line-height: 30px;
    border: solid 1px #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: white;
    margin-left: 20px;
    -webkit-appearance: none
}

.mod_list {
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    margin-bottom: 10px;
    background-color: white;
    margin-top: -1px
}

.mod_list li {
    min-height: 20px;
    line-height: 20px;
    padding: 10px;
    border-bottom: solid 1px #ddd;
    position: relative
}

.mod_list li:last-child {
    border-bottom: 0 none
}

.mod_list li .big {
    float: left;
    color: #333
}

.mod_list li .small {
    font-size: 12px;
    color: #999
}

.mod_list li .right {
    float: right;
    color: #999
}

.mod_list li.active {
    background-color: #eee
}

.mod_list li.checked {
    padding-right: 26px
}

.mod_list .list_inner input[type=checkbox],.mod_list .list_extra input[type=checkbox] {
    vertical-align: -1px
}

.mod_list.arrowed li,.mod_list.arrow_list li {
    padding-right: 26px
}

.mod_list.arrowed li:after,.mod_list.arrow_list li:after {
    display: block;
    content: "\020";
    width: 8px;
    height: 13px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAIAAAAxCktQAAAABnRSTlMAAAAAAABupgeRAAAASklEQVR42mNgAIOXL19/+/adgUjw4sWr48fPnDlzkSg9ENUQRJSeu3cfwDUQpeffv3+jeoaTHtI0jKqmr2pysijJhQDJxQypBRkABinN5LctI0IAAAAASUVORK5CYII=);background-size: 8px 13px;
    position: absolute;
    top: 14px;
    right: 10px
}

@charset "UTF-8";

.category2 dd .tit,.category2 .txt_list a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.category2 dd {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.category2 dd:after {
    clear: both;
    content: '\20';
    display: block
}

.category1 li:before {
    content: '';
    height: 0px;
    display: block;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.category1:before {
    content: '';
    width: 0px;
    display: block;
    border-right: 1px solid #ddd;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 120dpi),(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .category1 li:before {
        -webkit-transform: scaleY(0.5);
        -webkit-transform-origin: 50% 100%
    }

    .category1:before {
        -webkit-transform: scaleX(0.5);
        -webkit-transform-origin: 0% 0%
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .category1 li:before {
        -webkit-transform: scaleY(0.333)
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    .category1 li:before {
        -webkit-transform: scaleY(0.666)
    }
}

#yScroll {
    background-color: #f3f3f3
}

.category1 {
    position: relative;
    font-size: 12px;
    width: 65px;
    color: #333;
    text-align: center;
    background-color: #f3f3f3
}

.category1 li {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 5px;
    margin-top: -.5px
}

.category1 li:first-child {
    border-top: 0
}

.category1 .cur {
    color: #ec4c4c;
    position: relative
}

.category1 .cur:after {
    position: absolute;
    top: 50%;
    right: -12px;
    content: '\20';
    display: block;
    width: 18px;
    height: 18px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #fff
}

.category1 .cur:after {
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    right: -4px;
    margin-top: -4px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 120dpi),(-ms-high-contrast: active),(-ms-high-contrast: none) {
    .category1 .cur:after {
        width: 16px;
        height: 16px;
        right: -10px;
        margin-top: 0;
        -webkit-transform: scale(0.5) rotate(-45deg);
        -webkit-transform-origin: 0% 0%
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .category1 .cur:after {
        width: 25px;
        height: 25px;
        right: -19px;
        margin-top: 0;
        -webkit-transform: scale(0.333) rotate(-45deg);
        -webkit-transform-origin: 0% 0%
    }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
    .category1 .cur:after {
        width: 12px;
        height: 12px;
        right: -6px;
        margin-top: 0;
        -webkit-transform: scale(0.666) rotate(-45deg);
        -webkit-transform-origin: 0% 0%
    }
}

.category2 {
    background-color: #fff;
    padding: 0 10px 10px 10px
}

.category2 dt {
    margin-top: 5px;
    line-height: 2;
    color: #333
}

.category2 dd {
    padding-right: 10px
}

.category2 dd a {
    float: left;
    width: 33.33%;
    min-height: 80px;
    font-size: 12px;
    padding: 4px 0;
    margin: 5px 5px 5px 0;
    background-color: #f8f8f8;
    text-align: center
}

.category2 dd a:nth-child(3n) {
    margin-right: -10px
}

.category2 dd .tit {
    display: block;
    height: 30px;
    line-height: 34px
}

.category2 dd img {
    width: 50px;
    height: 50px
}

.category2 .txt_list {
    margin-bottom: 10px
}

.category2 .txt_list a {
    background: #fff;
    min-height: 24px;
    line-height: 24px;
    padding: 4px 0;
    margin: 0 5px 0 0;
    border-bottom: 1px dotted #e5e5e5;
    position: relative;
    color: #4088FE;
    text-align: left
}

.category2 .txt_list a:after {
    width: 1px;
    height: 14px;
    content: '\20';
    background-color: #e9e9e9;
    position: absolute;
    right: -6px;
    top: 9px;
    display: block
}

.category2 .txt_list a:nth-child(3n) {
    margin-right: -10px
}

.category2 .txt_list a:nth-child(3n):after {
    display: none
}

.guanggao {
    padding: 10px 10px 0 10px;
    display: block;
    min-height: 60px
}

.guanggao img {
    max-width: 100%;
    min-height: 60px
}