.k-close {
    font-size: 22px;
    line-height: 1;
    float: right;
    margin-top: -5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    opacity: .4;
    color: #000;
    border: 0;
    background: 0 0;
    filter: alpha(opacity=40);
    -webkit-appearance: none
}

.k-modal-backdrop {
    position: absolute;
    z-index: 1040;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5)
}

.k-modal {
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch
}

.k-modal-dialog {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.k-modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0
}

.k-modal-header {
    min-height: 20px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center
}

.k-modal-title {
    line-height: 1.5
}

.k-modal-body {
    position: relative;
    padding: 15px;
    text-align: center;
}

.k-modal-footer {
    padding: 1%
}

.k-modal-overlay {
    background: rgba(255,255,255,.95)
}

.k-modal-overlay .k-modal-content,.k-modal-overlay .k-modal-dialog {
    width: 100%;
    height: 100%;
    border: 0;
    background: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-modal-overlay .k-modal-dialog {
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none
}

.k-modal-adsorb .k-modal-dialog {
    top: initial;
    left: initial;
    bottom: 4rem;
    width: 100%;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
}

.k-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px
}

.k-btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.k-btn.disabled,.k-btn[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.k-btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.k-btn-primary {
    color: #fff;
    background-color: #007aff;
    border-color: #006ee6
}

.k-btn-success {
    color: #fff;
    background-color: #4cd964;
    border-color: #37d552
}

.k-btn-info {
    color: #fff;
    background-color: #34aadc;
    border-color: #249ed2
}

.k-btn-warning {
    color: #fff;
    background-color: #fc0;
    border-color: #e6b800
}

.k-btn-danger {
    color: #fff;
    background-color: #fe7506
}

.k-btn-link {
    color: #007aff;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0
}

.k-btn-block {
    display: inline-block;
    width: 46%;
    margin: 2%
}

.k-modal-dialog .gantan {
    paading: 10px 0;
    text-align: center
}
.fs36{
    color:black;
}
.k-jq_closeModal{
    background-color: #333333;
}